{% extends '@SyliusUi/Layout/sidebar.html.twig' %}

{% block title %}
	| Sylius
{% endblock %}

{% block stylesheets %}
	{{ sylius_template_event('sylius.admin.layout.stylesheets') }}
{% endblock %}

{% block flash_messages %}
	{% include '@SyliusAdmin/_flashes.html.twig' %}
{% endblock %}

{% block topbar %}
	{{ sylius_template_event('sylius.admin.layout.topbar_left') }}

	<div class="ui left floated dividing empty item"></div>

	{{ sylius_template_event('sylius.admin.layout.topbar_middle') }}

	<div class="ui right floated dividing empty item"></div>

	{{ sylius_template_event('sylius.admin.layout.topbar_right') }}
{% endblock %}

{% block sidebar %}
	{{ sylius_template_event('sylius.admin.layout.sidebar') }}
{% endblock %}

{% block content %}
	<h1>Actions</h1>

	<table class="ui sortable stackable very basic celled table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Customer</th>
				<th>Price</th>
				<th>Ending</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ subscription['id'] }}</td>
				<td>{{ subscription['customer'] }}</td>
				<td>$
					{{ subscription['price'] / 100 }}</td>
				<td>{{ subscription['ending']|date('d/m/Y') }}</td>
			</tr>
		</tbody>
	</tbody>
</table>

<div style="display: flex">
	<div>
		<h3>Modify price</h3>
		<form action="{{ path('update_price', {'id': subscription['id']}) }}" method="post">
			<select name="price" style="margin-bottom: 20px; display: block;">
				{% for price in prices %}
					<option value="{{ price['id'] }}">$
						{{ price['amount'] / 100 }}</option>
				{% endfor %}
			</select>
			<button type="submit" class="ui large primary button">
				Modify price
			</button>
		</form>
	</div>
	<div>
		<h3>Modify ending date</h3>
		<form action="{{ path('update_date', {'id': subscription['id']}) }}" method="post">
			<input type="date" name="endingDate" style="margin-bottom: 15px; display: block;">
			<button type="submit" class="ui large primary button">Modify ending date</button>
		</form>
	</div>
	<div>
		<h3>Send relaunch email</h3>
		<form action="{{ path('email_relaunch', {'id': subscription['id']}) }}" method="post">
			<input type="text" name="email" value="{{ subscription['customer'] }}" style="margin-bottom: 18px; display: block;">
			<button type="submit" class="ui large primary button">Send relaunch email</button>
		</form>
	</div>
	<div>
		<h3>Payback</h3>
		<form action="{{ path('refund', {'id': subscription['id']}) }}" method="post">
			<p style="margin-bottom: 20px">
				Click to refund the customer</p>
				<input type="text" name="customer" value="{{ subscription['customer'] }}" hidden>
			<button type="submit" class="ui large primary button">Payback</button>
		</form>
	</div>
</div>

<a href="{{ path('subscriptions') }}" class="ui large secondary button" style="margin-top: 50px">
	Return to subscriptions
</a>{% endblock %}{% block footer %}
{{ 'sylius.ui.powered_by'|trans }}
<a href="https://sylius.com" target="_blank">Sylius v{{ sylius_meta.version }}</a>.
{{ 'sylius.ui.see_issue'|trans }}?
<a href="https://github.com/Sylius/Sylius/issues" target="_blank">{{ 'sylius.ui.report_it'|trans }}!</a>{% endblock %}{% block javascripts %}
{{ sylius_template_event('sylius.admin.layout.javascripts') }}{% endblock %}
